body {

    // make helper to provide different type of offsets
    .make-offset ( @name, @offset ) {
        .offset-@{name} { margin: @offset; }
        .offset-top-@{name} { margin-top: @offset; }
        .offset-bottom-@{name} { margin-bottom: @offset; }
        .offset-left-@{name} { margin-left: @offset; }
        .offset-right-@{name} { margin-right: @offset; }
        .indent-@{name} { padding: @offset; }
        .top-indent-@{name} { padding-top: @offset; }
        .bottom-indent-@{name} { padding-bottom: @offset; }
        .left-indent-@{name} { padding-left: @offset; }
        .right-indent-@{name} { padding-right: @offset; }
    }

    // make help classes
    .make-offset( neg-3, -15px );
    .make-offset( neg-2, -10px );
    .make-offset( neg-1, -5px );
    .make-offset( 0, 0 );
    .make-offset( 1, 5px );
    .make-offset( 2, 10px );
    .make-offset( 3, 15px );
    .make-offset( 4, 20px );
    .make-offset( 5, 25px );
    .make-offset( 6, 30px );
    .make-offset( 7, 35px );
    .make-offset( 8, 40px );
    .make-offset( 9, 45px );
    .make-offset( 10, 50px );

}
