
body {
    // body text
    color: @base-text;
    background-color: @base-bg;
    //background-image: url("../images/body-bc.jpg");
    background: @white;
    font-weight: @font-weight-book;
    font-size:   @font-size-regular;
    font-family: @font-family-sans-serif;

    // MONOSPACE
    .monospace, code, kbd, pre, samp { font-family: @font-family-monospace; }

    b,
    strong {

    }

    // head texts
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10 {

        small, .small {

        }
    }

    h1, .h1, h2, .h2, h3, .h3 {}
    h4, .h4, h5, .h5, h6, .h6 {}

}
