.custom-radio {

    @ch-point: 20px;
    * { cursor: pointer; }

    &.radio-inline {
        padding-left: (@ch-point+6);
    }
    input[type="radio"] {
        width: @ch-point;
        height: @ch-point;
        white-space: nowrap;
        overflow: hidden;
        -webkit-appearance: button;

        padding-left: @ch-point / 3;
        padding-right: @ch-point / 3;
        margin-top: 0;
        margin-left: (@ch-point+5px) * -1;
        border-radius: 50%;

        .transition(200ms);
        border: double 2px @grey;
        background-color: transparent;

        &:after {
            content: '';
            .opacity(0);
            .transition(200ms);
            height: @ch-point * 0.6;
            width: @ch-point * 0.6;
            margin: 2px 0 0 -5px;

            display: block;
            border-radius: 50%;
            background-color: lighten(@red, 10%);
            //border-style: solid;
            //border-top-width: 0;
            //border-left-width: 0;
            //border-bottom-width: 3px;
            //border-right-width: 3px;
            //border-color: lighten(@red, 10%);
        }

        &:checked {
            background-color: @light-blue;
            border-color: @light-blue;
            &:after { .opacity(1); }
        }
        //&:hover {
        //    box-shadow: 0px 0px 10px #1300ff;
        //}
    }
}
