.custom-select {
    .Select-arrow {
        margin-top: 10px;
        border-width: 10px 5px 5px;
    }
    &.is-open .Select-control {
        .Select-arrow {
            margin-top: 10px;
            border-width: 0 5px 10px 5px;
        }
    }
}

&.has-error {
    .Select-control {
        border-color: #a94442;
    }
}

&.has-success {
    .Select-control {
        border-color: #3c763d;
    }
}
