#privateLayout {
    height: 100%;

    .private-header {
        z-index: 1;
        position: relative;
        padding-top: 7px;
        background: @white;
        height: @static-header-height;
        border-bottom: 1px solid @drama-grey;
        .box-shadow(0 4px 10px rgba(0,0,0,0.4));
        .btn-user-avatar {
            height: 46px;
            padding: 0 10px;
        }
        .dropdown-menu {
            min-width: 100%;
        }
    }
    // expandable behavior
    .private-aside {
        @menu-expanded: 200px;
        @menu-collapsed: 45px;
        @scroll-bar-width: 21px;
        #menu, #content {
            @animation: width 0.5s ease;
            .transition(@animation);
            float: left;
            position: relative;
            overflow: hidden;
            height: ~'calc(100vh -'@static-header-height ~')';
            .hide-scroll-bar {
                height: 100%;
                width: ~'calc(100% +'@scroll-bar-width ~')';
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
        &.collapsed {
            #menu { width: @menu-collapsed; }
            #content { width: ~'calc(100% - '@menu-collapsed ~')'; }
        }
        &.expanded {
            #menu { width: @menu-expanded; }
            #content { width: ~'calc(100% - '@menu-expanded ~')'; }
        }
    }
    #content {
        z-index: 0;
    }
    // aside menu styles
    #menu {
        z-index: 2;
        background-color: @drama-grey;
        border-color: @drama-dark-grey;
        .box-shadow(3px 5px 10px rgba(0, 0, 0, 0.4));
        // TODO aside menu expanded items

        .list-group {
            border: none;
            .collapse-box {
                .list-group-item {
                    background: @drama-light-grey;
                    &.active {
                        color: #fff;
                        background: @drama-light-black;
                    }
                    &:hover {
                        .inner-shadow(0 0 9px rgba(0, 0, 0, 0.4) );
                    }
                }
            }

            .list-group-item {
                height: 42px; // in fact
                white-space: nowrap;
                color: #4A4A4A;
                border-radius: 0;
                border-color: @drama-grey;
                background: @drama-dark-grey;
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    .inner-shadow(0 0 9px rgba(255, 255, 255, 0.5) );
                }

                &.active {
                    color: #fff;
                    background: @drama-color;
                }
                &.disabled, &:disabled {
                    cursor: no-drop;
                    opacity: 0.5;
                    pointer-events: none;
                }
            }


        }

    }


}
